.about {
  height: 100vh;
  width: 100vw;
  background-color: #faf9f6;
  background-image: url("/assets/brushed.png");
  display: flex;
  justify-content: center;
  align-content: center;
}

.about-container {
  margin-top: 4rem;
  width: 90%;
  height: 85%;
  padding: 7rem;
}

.statement {
  display: flex;
}

.avatar {
  aspect-ratio: auto;
  width: 30%;
  border-radius: 10%;
  float: left;
  filter: drop-shadow(5px 5px 5px #e8e3d5);
}

.paragraph {
  margin-left: 5rem;
  text-align: justify;
  text-justify: inter-word;
}

.certificate {
  text-decoration: underline;
  color: #2c2744;
}

.paragraph p {
  color: #242038;
}

.tech {
  margin-left: -2rem;
}

.tech p {
  margin: 2rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
}
.tech-image {
  width: 15%;
  filter: drop-shadow(5px 5px 5px #e8e3d5);
}

@media screen and (max-width: 768px) {
  .about-container {
    margin-top: 5rem;
    padding: 2rem;
  }

  .paragraph {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .avatar {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .tech p {
    margin: 1rem;
  }

  .tech {
    margin-left: -1rem;
  }
}
