.cardContainer {
  background-color: #fbfcf8;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1.5rem;
  align-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 20rem;
  height: 25rem;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    padding: 2rem;
    margin-top: 1.5rem;
  }
}
