.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 90vh;
  width: 75vw;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
}
