.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  width: 80%;
  max-width: 500px;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.7rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}
