header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: rgba(9, 6, 6, 1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.header {
  width: 100%;
  height: 4rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo a h2 {
  width: 25%;
}
.logo-name {
  font-size: 1.5rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #c4aee0;
}

a:hover {
  color: #cac4ce;
}

nav {
  width: 20%;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li {
    margin: 0 1rem;
    a {
      color: #c4aee0;
      &:hover {
        color: #cac4ce;
      }
    }
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
  color: #c4aee0;
}

.home-link {
  display: none;
}
@media screen and (max-width: 800px) {
  nav {
    display: block;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100vw;
    height: 36vh;
    background: rgba(9, 6, 6, 1);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    padding: 1rem;
    transform: translateX(-200%);
    transition: all 0.3s;
    z-index: 9999;

    ul {
      display: block;
      padding: 2rem;
      li {
        padding: 0.6rem 0;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .show-nav {
    transform: translateY(0);
  }
  .hide-nav {
    transform: translateY(-200%);
  }
  .menu-icon {
    display: flex;
    > * {
      margin-left: 2rem;
    }
  }
  .home-link {
    display: block;
  }
}
