.contact {
  background-color: #faf9f6;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-container {
  padding: 12rem;
}

.text-connect {
  margin-top: -3rem;
  font-size: 3rem;
  color: #242038;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

.item-container {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.icon-contact {
  width: 15%;
}

.text-container {
  margin-left: 1rem;
}

.placeholder {
  font-size: 1.1rem;
}

.details {
  font-size: 1.3rem;
  color: #242038;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 1.5rem;
  }

  .text-connect {
    margin-top: 5rem;
    font-size: 1.7rem;
    color: #242038;
  }

  .box-container {
    display: block;
  }

  .item-container {
    margin-top: 2rem;
  }

  .icon-contact {
    width: 10%;
  }

  .placeholder {
    font-size: 0.9rem;
  }

  .details {
    font-size: 1.1rem;
  }
}
