.contact {
  height: 100vh;
  width: 100vw;
  background-color: #faf9f6;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact-container {
  background-color: blue;
  margin-top: 5.4rem;
  width: 90%;
  height: 85%;
  padding: 7rem;
}

.icons {
  display: flex;
  flex-direction: row;
}

.links {
  margin-right: 1rem;
}
