.main {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 98;
}

.container {
  margin-left: 10rem;
}

.intro {
  font-size: 2.25rem;
  color: #9067c6;
  line-height: 1.5;
}

.name {
  background-color: #f7ece1;
  font-size: 3rem;
  color: #242038;
  padding: 0 1rem;
}

p {
  font-size: 1.5rem;
  color: #9067c6;
  line-height: 1.5;
}

.btn {
  background-color: #9067c6;
  border: none;
  border-radius: 10px;
  color: #f7ece1;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 2rem;
    margin-top: -17rem;
  }

  .intro {
    font-size: 1rem;
  }

  .name {
    font-size: 1.7rem;
    padding: 0 0.1rem;
  }

  p {
    font-size: 1rem;
  }
}
